<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Tom Harvey's Website</title>
        <link href="/content/screen.css" rel="stylesheet" media="screen" />
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <img src="/content/images/logo.png" alt="Tom Harvey's Logo" title="Tom Harvey's Logo" />
                    <h2>iBuildStuff</h2>
                    <h3>Tom Harvey's Personal Website</h3>
                </div>
                <nav>
                    <ul>
                        <li><a href="#" title="#">home page</a></li>
                        <li><a href="#" title="#">portfolio</a></li>
                        <li><a href="#" title="#">services</a></li>
                        <li><a href="#" title="#">open source</a></li>
                        <li><a href="#" title="#">get in touch</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </header>

        <div class="container">
            <section id="content">
                <h1>@ViewBag.Title</h1>

                @RenderBody()

            </section>
            <div id="sidebar">
                
                <!-- TODO: blog specific entries could have like a useful sidebar here for extra links etc. -->
                <!-- TODO: home page could have twitter contents, calls to action etc. -->
                <h3>Twitter / Useful Links</h3>
                @ViewBag.Sidebar

            </div>
            <div class="clear"></div>

            <footer>
               Tom Harvey &copy; 2011. All Rights Reserved
            </footer>
        </div>
    </body>
</html>