
    <h3>Like What You See?</h3>
    Why not get in touch to see how I could help you?<br /><br />

    <div id="sidebarContactForm">

        @{
            using (Html.BeginForm("send", "getintouch"))
            {
                <text>
                
                    <label for="Name">My Name is:</label><br />
                    <input type="text" id="Name" name="Name" /><br /><br />

                    <label for="ContactDetails">It's best to get hold of me using:</label><br />
                    <input type="text" id="ContactDetails" name="ContactDetails" /><br /><br />

                    <label for="Message">I'd like to talk about:</label><br />
                    <textarea id="Message" name="Message" rows="5" cols="40"></textarea><br /><br />

                    <button type="submit">Send</button>

                </text>
            }
        }

    </div>