@using FluentValidation.Results
@model ValidationResult

<div class="warning">
    <strong>Please Complete All Fields</strong>
    <ul>
        @{
            foreach (var item in Model.Errors)
            {
                <text>
                    <li>@item.ErrorMessage</li>
                </text>
            }
        }
    </ul>
</div>