<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <appSettings>
    <add key="WebsiteBaseUrl" value="admin.ibuildstuff.co.uk" />
    <add key="ProductName" value="Content Management System" />
    <add key="ProductVersion" value="2.0.0" />
    <add key="EmailFromAlias" value="WeBuildStuff CMS" />
    <add key="EmailFromAddress" value="donotreply@tomharveyonline.com" />
    <add key="EmailServer" value="smtp.gmail.com" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailServerShouldUseSsl" value="true" />
    <add key="StorageBaseDirectory" value="C:\Development\Content\" />
    <add key="EmailUsername" value="donotreply@tomharveyonline.com" />
    <add key="EmailPassword" value="Shak3rmak3r417596" />
  </appSettings>

  <castle>
    <components>
      <component id="IEmailMailerService" service="TomHarvey.Core.Communication.Emailing.IEmailMailerService, TomHarvey.Core"
                                type="TomHarvey.Core.Communication.Emailing.ImmediateEmailMailerService, TomHarvey.Core" />
      <component id="IEncryptionProvider" service="TomHarvey.Core.Encryption.IEncryptionProvider, TomHarvey.Core"
                                type="TomHarvey.Core.Encryption.Sha1EncryptionProvider, TomHarvey.Core" />
      <component id="ILoginAttemptsRepository" service="WeBuildStuff.UserAuthentication.Business.Interfaces.ILoginAttemptsRepository, WeBuildStuff.UserAuthentication.Business"
                                type="WeBuildStuff.UserAuthentication.Data.NHibernate.LoginAttemptsRepository, WeBuildStuff.UserAuthentication.Data.NHibernate" />
      <component id="IForgottenPasswordRequestsRepository" service="WeBuildStuff.UserAuthentication.Business.Interfaces.IForgottenPasswordRequestsRepository, WeBuildStuff.UserAuthentication.Business"
                                type="WeBuildStuff.UserAuthentication.Data.NHibernate.ForgottenPasswordRequestsRepository, WeBuildStuff.UserAuthentication.Data.NHibernate" />
      <component id="IRequestDetails" service="WeBuildStuff.Shared.Shared.IRequestDetails, WeBuildStuff.Shared"
                                type="WeBuildStuff.Shared.Shared.HttpRequestDetails, WeBuildStuff.Shared" />
      <component id="ISettingsRepository" service="WeBuildStuff.Shared.Settings.ISettingsRepository, WeBuildStuff.Shared"
                                type="WeBuildStuff.Shared.Settings.ConfigurationBasedSettingsRepository, WeBuildStuff.Shared" />
      <component id="IPageDetailsRepository" service="WeBuildStuff.PageManagement.Business.Interfaces.IPageDetailsRepository, WeBuildStuff.PageManagement.Business"
                                type="WeBuildStuff.PageManagement.Data.NHibernate.PageDetailsRepository, WeBuildStuff.PageManagement.Data.NHibernate" />
      <component id="IPageRevisionsRepository" service="WeBuildStuff.PageManagement.Business.Interfaces.IPageRevisionsRepository, WeBuildStuff.PageManagement.Business"
                                type="WeBuildStuff.PageManagement.Data.NHibernate.PageRevisionsRepository, WeBuildStuff.PageManagement.Data.NHibernate" />
      <component id="UsersRepository" service="WeBuildStuff.Shared.Business.Interfaces.IUsersRepository, WeBuildStuff.Shared.Business"
                                type="WeBuildStuff.Shared.Data.NHibernate.Implementations.UsersRepository, WeBuildStuff.Shared.Data.NHibernate" />
      <component id="UserRolesRepository" service="WeBuildStuff.Shared.Business.Interfaces.IUserRolesRepository, WeBuildStuff.Shared.Business"
                                type="WeBuildStuff.Shared.Data.NHibernate.Implementations.UserRolesRepository, WeBuildStuff.Shared.Data.NHibernate" />
      <component id="RolesRepository" service="WeBuildStuff.Shared.Business.Interfaces.IRolesRepository, WeBuildStuff.Shared.Business"
                                type="WeBuildStuff.Shared.Data.NHibernate.Implementations.RolesRepository, WeBuildStuff.Shared.Data.NHibernate" />
    </components>
  </castle>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/account/login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>