body { font-family: verdana, arial, sans-serif; font-size: 12px; margin: 0; padding: 0 }

/* header */
header { background: #C00 /* or 316ac5 - can change dynamically dependent on the time of year? */; color: #FFF; height: 60px; margin-bottom: 8px }
#logo { float: left; margin-top: 10px; width: 250px }
#logo h2, #logo h3 { display: none }
.container { margin: auto; width: 980px }
.clear { clear: both }
            
/* titles TODO: proper fonts */
h1, h2, h3 { color: #333; margin: 4px 0; font-variant: small-caps; line-height: 25px; vertical-align: bottom }
h1 { font-family: Segoe UI; font-size: 18px }
h2 {  }
h3 { color: #444; font-family: Calibri; font-size: 16px }
            
/* navigation */
header nav { float: right }
header nav ul { list-style-type: none; margin: 0; padding: 0; margin-top: 4px }
header nav ul li { cursor: pointer; float: left; padding: 14px 30px 0; margin-right: 4px; height: 35px }
header nav ul li a { color: #FFF; display: block; font-family: "Avenir LT 55 Roman"; font-size: 15px; text-decoration: none }
header nav ul li:hover { background-color:rgba(255,255,255,0.2);border: 1px solid rgba(255, 255, 255, 0.4); margin-right: 2px }
            
/* content */
#content { float: left; width: 700px }
#sidebar { float: right; width: 250px }
            
/* footer */
footer { border-top: 1px solid #DDD; margin-top: 8px; padding-top: 5px; text-align: center }

/* contact form */
.contactForm { margin: auto; width: 500px }
input, textarea { width: 100%; padding: 3px; border: 1px solid #CCC; background: #FEFEFE }
button { float: right }

/* validation */
.warning { background: #fcc; padding: 6px }

/* download buttons */
.downloadbuttons { list-style-type: none; margin: 0; padding: 0 }
.downloadbuttons li { background: #EEE; border: 1px solid #CCC; color: #000; display: block; font-size: 18px; padding: 5px 8px; text-align: center }
.downloadbuttons li a { color: #000; text-decoration: none }