@using TomHarvey.Website.Models.OpenSource
@model OpenSourceProjectsOverview

@{
    ViewBag.Title = Model.Revision.Title;
    ViewBag.SideBar = Html.Partial("ContactSidebar");
}

@Html.Raw(Model.Revision.Content)
<br /><br />

@{
    foreach (var project in Model.Projects)
    {
        <text>
            <h3>@Html.ActionLink(project.Title, "details", "opensource", new { id = project.FriendlyUrl }, null)</h3>
            @Html.Raw(project.ShortDescription)
            <br /><br />
        </text>
    }
}