
    <h3>If It's Super-Urgent</h3>
    If it's super-urgent and you need an answer yesterday - you can get me using the details below:
    <ul>
        <li>E: <a href="mailto:website@ibuildstuff.co.uk">website@ibuildstuff.co.uk</a></li>
        <li>P: 07888 88 46 71</li>
    </ul>
    <br />

    <h3>Find Me On:</h3>

    <ul>
        <li>Twitter: <a href="http://twitter.com/tombuildsstuff">tombuildsstuff</a></li>
        <li>GitHub: <a href="http://github.com/tombuildsstuff">tombuildsstuff</a></li>
        <li>LinkedIn: <a href="http://uk.linkedin.com/in/tombuildsstuff">Tom Harvey</a></li>
    </ul>