@using TomHarvey.Website.Models.GetInTouch
@model GetInTouchOverview

@{
    ViewBag.Title = Model.Revision.Title;
    ViewBag.SideBar = @Html.Partial("ContactAdditionalMethodsSidebar");
}

@Model.Revision.Content
<br /><br />

@{
    if (Model.ValidationResult != null)
    {
        <text>
            @Html.Partial("ValidationErrors", Model.ValidationResult)
            <br /><br />
        </text>
    }
}

<div class="contactForm">
    @{
        using (Html.BeginForm("send", "getintouch"))
        {
            @Html.Partial("ContactForm", Model.Form)
        }
    }
</div>
<div class="clear"></div>