@{ Layout = null; }
<!DOCTYPE html>
<html>
 <head>
  <title>Page Currently Unavailable | Tom Harvey</title>
  <style type="text/css">
   body { background: #EEE; font-family: Calibri, Verdana; font-size: 13px; margin: 0; padding: 0 }
   #container { margin: auto; margin-top: 10%; width: 400px }
   .content { background: #FFF; border: 1px solid #CCC; padding: 6px 12px }
   #logo { margin: auto; text-align: center }
   #logo h1 { display: none }
  </style>
 </head>
 <body>
  <div id="container">
   <div class="content">
    <h3>Page Currently Unavailable</h3>
    <p>Sorry for any inconvenience, but this page is currently unavailable.</p>
    <p>Please check back soon, when this page should be available again.</p>
    <p>@Html.ActionLink("You can click here to return to the home page", "index", "home")</p>
    <p>Sorry for any inconvenience caused</p>
    <p>Tom</p>
   </div>
  </div>
 </body>
</html>