@model TomHarvey.Website.Models.Portfolio.PortfolioOverview

    <h4>Download Links:</h4>
    <ul>
        @{
            if (Model.)
        }
    </ul>

    @Html.Partial("OtherPortfolioItems", Model.Items)