@model TomHarvey.Website.Models.Home.HomePageOverview

<div class="right">
    <img src="@Url.Content("~/content/images/tom.jpg")" alt="Photo of Tom" title="That's Him!" /><br />
    Tom

    @{
        if (Model.BlogPosts != null && Model.BlogPosts.Any())
        {
            <br />
            <h3>Latest Blog Posts</h3>
            <ul class="nobullets">
                @foreach (var post in Model.BlogPosts)
                {
                    <li><a href="@string.Format("{0}/posts/{1}/{2}/{3}/{4}", Model.BlogBaseUrl, post.PublishDate.Value.Year, post.PublishDate.Value.Month, post.PublishDate.Value.Day, post.FriendlyUrl)">@post.Title</a></li>
                }
            </ul>
        }
    }
</div>